@page "/comercial-performance"
@using Application.Dtos
@using Domain.DataAnnotations
@using BlazorApp.Shared.Components
@using BlazorApp.Models
@using System.ComponentModel.DataAnnotations
@using System.Text.RegularExpressions

@inject HttpClient Http
@inject IStringLocalizer<Resource> Localizer
@inject ISnackbar Snackbar

<MudGrid>
    <MudItem xs="12">
        <MudPaper Class="pa-4">
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors" >
                <MudGrid>
                    <MudItem xs="12" sm="6" md="4">
                        <MudDatePicker Label="@Localizer[Resource.FilterOptionsStartDate]" @bind-Date="filterOptions.StartDate" FixDay=1 Required="true" RequiredError="@Localizer[Resource.validation_FieldRequired]" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4">
                        <MudDatePicker Label="@Localizer[Resource.FilterOptionsEndDate]" @bind-Date="filterOptions.EndDate" FixDay=1 Required="true" RequiredError="@Localizer[Resource.validation_FieldRequired]"
                                       Validation="@(new Func<DateTime?, IEnumerable<string>>(CompareDates))" 
                                       />
                    </MudItem>
                    <MudItem xs="12" sm="12" md="4">
                        @if (Usuarios != null && Usuarios.Count > 0)
                        {
                            <MudSelect T="string"
                                   Label="@Localizer[Resource.FilterOptionsSelectedValues]"
                                   MultiSelection="true" @bind-Value="filterOptions.SelectedValues" @bind-SelectedValues="options"
                                   Clearable="true"
                                   SelectAll="true"
                                   Placeholder="@Localizer[Resource.display_SeleccioneXXX]"
                                   Dense="true"
                                   Required="true"
                                   RequiredError="@Localizer[Resource.validation_EmptyVendorSelection]">
                                @foreach (var item in Usuarios)
                                {
                                    <MudSelectItem T="string" Value="@item.CoUsuario">@item.NoUsuario</MudSelectItem>
                                }
                            </MudSelect>
                        }
                        else
                        {
                            <MudSelect T="string"></MudSelect>
                        }
                    </MudItem>
                </MudGrid>

                <div class="d-flex align-center justify-space-between mt-6">
                    <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Disabled="@(!success)" OnClick="ShowPizzaAsync" Class="ml-auto" 
                               StartIcon="@Icons.Material.Filled.PieChart" > @Localizer[Resource.btn_ShowPizza] </MudButton>
                    <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Disabled="@(!success)" OnClick="ShowGraphicAsync" Class="ml-auto"
                               StartIcon="@Icons.Material.Filled.BarChart"> @Localizer[Resource.btn_ShowGraphic] </MudButton>
                    <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Disabled="@(!success)" OnClick="ShowRelatorioAsync" Class="ml-auto"
                               StartIcon="@Icons.Material.Filled.TableRows"> @Localizer[Resource.btn_ShowRelatorio] </MudButton>                    
                </div>
            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>




<MudGrid>
    @if (Aporte != null && Aporte.Valores != null && Aporte.Valores.Count != 0)
    {
        <MudItem xs="12" sm="6">
            <PieChart Aporte=Aporte></PieChart>
        </MudItem>
    }
    @if (UsuariosGraphico != null && UsuariosGraphico.Count != 0)
    {
        <MudItem xs="12" sm="6">
            <GraphicChart UsuariosGraphico=UsuariosGraphico></GraphicChart>
        </MudItem>
    }
    @if (UsuariosRelatorio != null && UsuariosRelatorio.Count > 0)
    {
        <MudItem xs="12">
            <RelatorioTable Usuarios=UsuariosRelatorio></RelatorioTable>
        </MudItem>
    }
</MudGrid>
@code {

    bool success;
    string[] errors = { };
    MudTextField<string> pwField1;
    MudForm form;

    private IEnumerable<string> options { get; set; } = new HashSet<string>();
        
    FilterOptions filterOptions; 
    List<CaoUsuarioDto> Usuarios = new List<CaoUsuarioDto>();
    AporteRecetaLiquidaDto? Aporte = null;
    List<UsuarioDto> UsuariosRelatorio = new List<UsuarioDto>();
    List<UsuarioDto> UsuariosGraphico = new List<UsuarioDto>();

    protected override async Task OnInitializedAsync()
    {
        var startDate = DateTime.Today.AddDays(-DateTime.Today.Day + 1);
        var endDate = DateTime.Today.AddDays(-DateTime.Today.Day + 1).AddMonths(1);
        filterOptions = new FilterOptions
            {
                StartDate = startDate,
                EndDate = endDate,
                SelectedValues = string.Empty
            };
        var us = await Http.GetFromJsonAsync<List<CaoUsuarioDto>>("api/usuarios");
        Usuarios = us ?? new List<CaoUsuarioDto>();
    }

    private string ForApiEndPoint(DateTime? date)
    {
        if (date == null)
        {
            return string.Empty;
        }
        return $"{date?.Year}-{date?.Month}-{date?.Day}";
    }
    private async Task ShowPizzaAsync()
    {
        var link = $"api/facturas/pizza?startDate={ForApiEndPoint(filterOptions.StartDate)}&endDate={ForApiEndPoint(filterOptions.EndDate)}&coUsuarios={string.Join(',', options)}";
        var distroAporte = await Http.GetFromJsonAsync<AporteRecetaLiquidaDto>(link);
        if (distroAporte == null || distroAporte.Total == 0 || distroAporte.Valores.Count == 0)
        {
            Snackbar.Add(Localizer[Resource.display_NoResults], Severity.Info);
        }
        else
            Aporte = distroAporte;
    }
    private async Task ShowGraphicAsync()
    {
        //var link = $"api/facturas/graphic?startDate={ForApiEndPoint(StartDate)}&endDate={ForApiEndPoint(EndDate)}&coUsuarios={string.Join(',', options)}";
        var link = $"api/facturas/graphic?startDate=2007-01-01&endDate=2007-12-01&coUsuarios=carlos.carvalho,carlos.arruda,anapaula.chiodaro";
        var usuarios = await Http.GetFromJsonAsync<List<UsuarioDto>>(link);
        if (usuarios == null || usuarios.Count == 0 )
        {
            Snackbar.Add(Localizer[Resource.display_NoResults], Severity.Info);
        }
        else
            UsuariosGraphico = usuarios;
    }
    private async Task ShowRelatorioAsync()
    {
        //var link = $"api/facturas/relatorio?startDate={ForApiEndPoint(StartDate)}&endDate={ForApiEndPoint(EndDate)}&coUsuarios={string.Join(',', options)}";
        var link = $"api/facturas/relatorio?startDate=2007-01-01&endDate=2007-12-01&coUsuarios=carlos.carvalho,carlos.arruda,anapaula.chiodaro";
        var listaUsuarios = await Http.GetFromJsonAsync<List<UsuarioDto>>(link);
        if (listaUsuarios == null || listaUsuarios.Count == 0)
        {
            Snackbar.Add(Localizer[Resource.display_NoResults], Severity.Info);
        }
        else
            UsuariosRelatorio = listaUsuarios;
    }
    private List<string> CompareDates(DateTime? endDate)
    {
        var listOfErrors = new List<string>();
        if (endDate?.Date <= filterOptions.StartDate?.Date)
            listOfErrors.Add(Localizer[Resource.validation_OnDateComparison]);
        return listOfErrors;
    }
}

